<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/show.css">
<%- include("../partials/nav") %>



<main>
      <h1>Horses</h1>
  
  
      <a href="/horses/new"><button>Add a Horse</button></a>

<section>
  <table>
    <thead>
      <tr>
        <th>Barn Name</th>
        <th> &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp Registered Name   &nbsp &nbsp &nbsp &nbsp </th>
        <th> &nbsp Sex   &nbsp &nbsp&nbsp</th>
        <th> &nbsp  &nbsp Status  &nbsp  &nbsp</th>
        <th> &nbsp Height  &nbsp </th>
        <th>Weight Limit</th>
        <th>Lesson Horse</th>
        <th>Trail Horse</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% horses.forEach(horse => { %>
        <tr>
          <td><%= horse.barnName %></td>
          <td><%= horse.name %></td>
          <td><%= horse.sex %></td>
          <td><%= horse.status %></td>
          <td><%= horse.height %></td>
          <td><%= horse.weightLimit %></td>
          <td><%= horse.lessonHorse %></td>
          <td><%= horse.trailHorse %></td>
          <td><a href="/horses/<%= horse._id %>"><button>Edit</button></a></td>
          
          <td>
            <form 
            action="/horses/<%= horse._id %>?_method=DELETE" 
            method="POST"
            >
            <button type="submit">X</button>
          </form>
        </td>
      </tr>      
      <% }) %>
    </tbody>
  </table>

</section>
</main>


<%- include("../partials/footer") %>