<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/index.css">
<%- include("../partials/nav") %>


<main>
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone Number</th>
        <th>Role</th>
        
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.profile.name %></td>
          <td><%= user.profile.preferredEmail %></a></td>
          <td><%= user.profile.phone %></td>
          <td><%= user.profile.role %></td>
          <td><a href="/admin/users/<%= user.profile._id %>"><button>Edit</button></a></td>
        </td>
      </tr>      
      <% }) %>
    </tbody>
  </table>
</main>

<%- include("../partials/footer") %>