<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "there stranger..." %></h1>
  
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } else { %>
    Log in with Google to request a ride or view and edit details of previously requests
  <% } %>
</main>

<%- include('./partials/footer') %>
