<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/index.css">
<%- include("../partials/nav") %>


<main>
  <h1>Upcoming Rides</h1>
  <table>
    <thead>
      <tr>
        <th>Ride</th>
        <th>Number of Riders</th>
        <th>Date</th>
        <th>Status</th>
        <th>Details</th>
        <th>Cancel</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% rides.forEach(ride => { %>
        <tr>
          <td><%= ride.type %></td>
          <td><%= ride.numberOfRiders %></td>
          <td><input type="date" value="<%= ride.date.toISOString().slice(0, 10) %>" disabled></td>
          <td><%= ride.status %></td>
          <td><a href="/rides/<%= ride._id %>"><button>details</button></a></td>
          <td>
            <form 
            action="/rides/<%= ride._id %>/cancel?_method=PATCH" 
            method="POST"
            >

            <button type="submit">cancel</button>
          </form>
        </td>
          <td>
            <form 
            action="/rides/<%= ride._id %>?_method=DELETE" 
            method="POST"
            >
            <button type="submit">X</button>
          </form>
        </td>
      </tr>      
      <% }) %>
    </tbody>
  </table>
</main>


<%- include("../partials/footer") %>