
<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/index.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <h2>Rides requested by <%= requestor %>   </h2>


  
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Ride </th>
        <th>Date</th>
        <th>Number of Riders</th>
        <th>Request Status</th>
        <th>Details</th>
        <th>Delete</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% rides.forEach(ride => { %>
        <tr>
          <td><%= ride.type %></td>
          <td> <input type="date" value="<%= ride.date.toISOString().slice(0, 10) %>" disabled></td>
          <td><%= ride.numberOfRiders %></td>
          <td><%= ride.status %></td>
          <td><a href="/rides/<%= ride._id %>"><button>details</button></a></td>
          <td>
            <form 
            action="/rides/<%= ride._id %>/cancel?_method=PATCH" 
            method="POST"
            >

            <button type="submit">cancel</button>
          </form>
        </td>
      </tr>      
      <% }) %>
    </tbody>
  </table>  
</div>
</main>

<%- include("../partials/footer") %>