<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/forms.css">
<%- include("../partials/nav") %>

<main id="new-ride">
  <h1><%= title %></h1>
  
  <h3>Contact Details</h3>

  <form action="/admin/users/<%= user.profile._id %>?_method=PUT" 
    id="new-ride" 
    method="POST">
    <label>
      Your Name:
      <input type="text" name="name" id="ride-text-input" required="true" value="<%= user.profile.name %>">
      </label>
    <label>
      E-mail:
      <input type="text" name="email" id="ride-text-input" required="true" value="<%= user.profile.preferredEmail %>">
      </label>
    <label>
      Phone Number:
      <input type="tel" name="phone" id="ride-text-input" required="true" value="<%= user.profile.phone %>" placeholder="###-###-####">
      </label>
      
      <button type="submit">Save</button>
   </form>

   <h3>Ride Details</h3>

</main>

<%- include("../partials/footer") %>