
<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/rides/show.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <h2>Rides requested by <%= ride.owner %></h2>
  


  <form action="/rides" id="new-form" method="POST">
    <label>
      Number of Riders:
    <input type="number" name="numberOfRiders" id="rider-number-input" required="true" min="1" max="20">
    </label>

    <label>
      Date:
    <input type="datetime-local" name="date" id="" >
    <!-- <input type="datetime-local" name="departs" id="departure-time-input" value="2023-04-16T13:42:35.520Z"> -->
    </label>

    <button type="submit">Edit Request</button>
  </form>

<h2>Rider Details</h2>


<form 
    id=""
    action="/rides/<%= ride._id %>/riders"
    method="POST"
    >
    <label>
      Name:
    <input type="text" name="name" class="rider-text" required>
    <label>
      Height:
    <input type="text" name="height" class="rider-text" required>
    <label>
      Weight:
    <input type="text" name="weight" class="rider-text" required>
    
    <label>
      Skill level:
      <select name="experience" id="experience-select">
        <option value="">--Skill Level--</option>
        <option value="none">None</option>
        <option value="beginner">Beginner</option>
        <option value="novice">Novice</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
      </select>
    </label>
    
    </form>
    <button type="submit">Add Rider</button>
    
  </form>

<table>
  <thead>
    <th>Name</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Riding Experience</th>
    <th>Delete</th>   
  </thead>
  <tbody>
    <% ride.riders.forEach(rider => { %>
      <tr>
        <td><%= rider.name %></td>
        <td><%= rider.height %></td>
        <td><%= rider.weight %></td>
        <td>
          <form action="/rides/<%= ride._id %>/riders/<%= rider._id %>?_method=DELETE"
          method="POST"
          >
          <button type="submit">X</button>
          </form>
        </td>
      </tr>

  </tbody>
</table>



<% }) %>

</main>

<%- include("../partials/footer") %>